{% extends 'base.html' %}

{% block title %}About Us{% endblock %}
{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'about.css' %}">
{% endblock %}
{% block content %}
    <h1>About Us</h1>
    <p>This is the about page.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque soluta odit ut tenetur, illum in officia veritatis eveniet blanditiis rerum consequatur officiis labore placeat corporis libero quidem architecto nemo, deserunt expedita, temporibus dignissimos pariatur molestias? Debitis ipsum dignissimos vitae nam, architecto voluptatem incidunt sunt saepe mollitia eos et iste pariatur!</p>
{% endblock %}