<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Base{% endblock %}</title>
    {% load static %}

    {% block mycss %}
    <link rel="stylesheet" href="{% static 'pr3.css' %}">
    {% endblock %}
</head>
<body>
    <main>
        {% block content %}
        <ul>
            <li>
                <a href="{% url 'blog' %}">Blog</a>
                <a href="{% url 'about'%}">About</a>
            </li>
        </ul>
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 My Blog. All rights reserved.</p>
    </footer>
</body>
</html>