{% extends 'base.html' %}

{% block title %}My Blog{% endblock %}
{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}

{% block content %}
     
    <h2>Welcome to My Blog</h2>
    {% regroup students by age as age_groups %}
    {% for age_group in age_groups %}
        <h3>Age: {{ age_group.grouper }}</h3>
        <ul>
            {% for student in age_group.list %}
                <li>{{ student.name|upper}}</li>
            {% endfor %}
        </ul>
    {% endfor %}

    <p>This is a simple blog page.</p>
    <p> calculation :{% widthratio 100 5 20 %} </p>
    {% filter upper %}
        <p>This text will be converted to uppercase.</p>
    {% endfilter %}

{% endblock %}