{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%}{%endblock title%}
    
    {% block corecss %}<link rel="stylesheet" href="{% static 'course/css/style.css'%}">{% endblock corecss %}
</head>
<body>
    <div>
            <span>Home</span>
            <span>Courses</span>
            <span>Fees</span>
            
    </div>
    {% block content%}{% endblock content%}
    {% block footer %} This is footer content{% endblock footer %}
    {% block corejs %}{% endblock corejs %}
</body>
</html>    