{% extends 'base.html' %}

{% block content %}
    <h2>Update Post</h2>
    {% if form.instance.pk %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'PostUpdateView' form.instance.pk %}"><button type="submit" class="btn btn-primary">Update</button></a>
        </form>
    {% else %}
        <p>Post not found.</p>
        <a href="{% url 'PostCreateView' %}" class="btn btn-secondary">Create Post</a>
    {% endif %}
{% endblock content %}