<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Home Page</title>
        </head>
        <body>
                <h1 style="color: blue;">Welcome to the Home Page</h1>
                <div style="border:2px solid black; padding: 10px; width: 300px;">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nemo earum nisi veniam voluptas consequatur tempore a impedit? Perspiciatis hic placeat assumenda sed ipsum, corporis inventore perferendis veniam nobis incidunt, dolor, beatae vero eaque dignissimos harum. Dolor sit eos pariatur nostrum repudiandae tempore magnam quo harum illo distinctio, blanditiis amet! Natus asperiores ratione cum doloremque! Officiis alias veritatis voluptatibus natus cum praesentium, et commodi, obcaecati sit, deleniti ut beatae? Exercitationem aliquid optio, molestiae quibusdam eius aliquam laudantium voluptates fugit harum consectetur veniam possimus nobis voluptatum! Perferendis dolore atque quasi magni minima voluptatum voluptatibus fuga. Culpa delectus perspiciatis beatae hic illo.</p>    
                </div>
        </body>
</html>                        