{% extends 'todo/Base.html' %}
{% block title %}
    <title>task form</title>
{% endblock %}

{% block content %}
    <h2>{% if task %}Edit Task{% else %}Add Task{% endif %}</h2>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="title" class="form-label">Title:</label>
        <input type="text" name="title" id="title" class="form-control" required>
        <label for="description" class="form-label mt-3">Description:</label>
        <textarea name="description" id="description" class="form-control" required></textarea>
        <button type="submit" class="btn btn-primary mt-3">Save Task</button>
        <a href="{% url 'show_task' %}" class="btn btn-secondary mt-3">Cancel</a>
    </form>    
        
{% endblock %}
