{% extends 'base.html' %}

{% block content %}
  <section id="about" class="about-section">
    <div class="container">
      <h1>About Me</h1>
      <p>This is a brief introduction about myself, my background, and my skills.</p>
      <ul>
        <li><b>Name:</b> Kartikey Pande</li>
        <li><b>Profession:</b> Software Developer</li>
        <li><b>Skills:</b> Python, Django, JavaScript, React</li>
        <li><b>Experience:</b> 3 years in web development</li>
      </ul>
    </div>

{%endblock %}