<!DOCTYPE html>
<html lang="en">
<head>
    <title>
         {% block title %}App{% endblock %}
    </title>
</head>
<body>

    {% if students %}
    <table>
       <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>ClassName</th>
            <th>Email</th>
       </tr>
      {% for student in students %}
        <tr>
           <td>{{student.id}}</td>
           <td>{{student.name}}</td>
           <td>{{student.age}}</td>
           <td>{{student.className}}</td>
           <td>{{student.email}}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <p> No student data available</p>
    {% endif %}
</body>
</html>